page {
    padding: 40rpx;
}

.cutline {
    background-color: #dcdfe6;
    width: 100%;
    height: 3rpx;
    margin-top: 50rpx;
    margin-bottom: 30rpx;
}

.section-1 {
    .title {
        font-weight: 600;
        margin-top: 20rpx;
        margin-bottom: 20rpx;
    }

    .main {
        display: flex;
        align-items: center;

        .left {
            flex: 1;
            color: #999;
            font-size: 24rpx;

            view {
                margin-bottom: 10rpx;
            }

            .left-title {
                color: #000;
                font-size: 25rpx;
                font-weight: 600;
            }
        }

        .right {
            width: 200rpx;
            color: rgb(122, 68, 154);
            text-align: center;
            font-weight: 600;
            font-size: 26rpx;
        }
    }
}

.section-2 {
    .title {
        font-weight: 600;
        margin-top: 20rpx;
        margin-bottom: 20rpx;
    }

    .main {
        display: flex;

        .left {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 180rpx;
            font-weight: 600;

            image {
                width: 120rpx;
                height: 120rpx;
                border-radius: 40px;
                margin-bottom: 15rpx;
            }

            .text {
                font-size: 24rpx;
            }

            .region {
                color: rgb(122, 68, 154);
            }
        }

        .right {
            margin-left: 15rpx;
            flex: 1;
            display: flex;
            flex-direction: column;

            .right-name {
                display: flex;
                font-weight: 600;
                margin-bottom: 20rpx;

                .item-score {
                    margin-left: 15rpx;
                    color: $color-warning;
                }
            }

            .right-tag {
                margin-top: 20rpx;
                display: flex;

                .tag {
                    // padding: 5rpx 20rpx 5rpx 20rpx;
                    // color: #fff;
                    // border-radius: 9rpx;
                    // margin-right: 10rpx;
                    // font-size: $font-size-sm;
                    color: rgb(155, 83, 169);
                    margin-right: 20rpx;
                    font-size: 24rpx;
                    margin-top: 15rpx;
                    font-weight: 600;
                }

                // .tag1_bk {
                //     background-color: rgb(155, 83, 169);
                // }

                // .tag2_bk {
                //     background-color: rgb(248, 180, 41);
                // }
            }
        }
    }
}

.section-3 {
    margin-bottom: 300rpx;

    .title {
        font-weight: 600;
        margin-top: 20rpx;
        margin-bottom: 50rpx;
    }

    .theme {
        font-weight: 600;
    }
}

.next-button {
    width: 100%;
    height: 70rpx;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 75, 156);
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20rpx;
}

.submit-btn {
    width: 100%;
    padding: 0rpx 50rpx 0rpx 50rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .reject {
        width: 260rpx;
        height: 80rpx;
        border: 1px solid rgb(138, 75, 156);
        color: rgb(138, 75, 156);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .submit {
        width: 260rpx;
        height: 80rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(138, 75, 156);
        color: #fff;
        border-radius: 5px;
    }
}