page{
    // height: 92vh;
    height: calc(100vh - 100rpx);
    overflow:hidden;
	overflow-y:hidden;
}


.top {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
}

.tabbar {
    height: 100rpx;
    background-color: $bg-color-white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    border-bottom: 3rpx solid #c8c7cc;

    .item {
        height: 70rpx;
        font-size: 26rpx;
        color: $text-color-assist;
        font-weight: 400 !important;
        display: flex;
        align-items: center;

        &.active {
            font-size: 28rpx;
            color: rgb(122, 68, 154);
            border-bottom: 4rpx solid rgb(122, 68, 154);
        }
    }

}

.swiper {
    padding: 15rpx;
    background-color: rgb(240, 240, 240);
}

.dropdown-box {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .uDropdown {
        width: 300rpx;
    }

    .search {
        width: 33.33333%;
        text-align: center;
        color: rgb(96, 98, 102);
    }
}


.section-button {
    position: absolute;
    width: 80rpx;
    height: 80rpx;
    bottom: 140rpx;
    right: 40rpx;
    background-color: rgb(242, 149, 23);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);

    image {
        width: 50rpx;
        height: 50rpx;
    }
}

.section-button2 {
    position: absolute;
    width: 80rpx;
    height: 80rpx;
    bottom: 300rpx;
    right: 40rpx;
    background-color: rgb(122, 68, 154);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);

    image {
        width: 50rpx;
        height: 50rpx;
    }
}

.refuse {
    width: 500rpx;
    min-height: 500rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80rpx 50rpx 80rpx 50rpx;

    .item-input {
        width: 100%;

    }

    .item-textarea{
        border: 2px solid rgb(122, 68, 154);
        border-radius: 3px;
        padding: 10rpx;
        min-height: 180rpx;
        max-width: 500rpx;
        margin-bottom: 30rpx;
        textarea{
            width: 100%;
            font-size: 24rpx;
        }
    }
    
    .check {
        color: rgb(122, 68, 154);
        text-align: center;
    }

    .item-btn {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .item {
            width: 180rpx;
            height: 60rpx;
            background-color: rgb(122, 68, 154);
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }
    }
}
