// page{
//     // padding-bottom: 20rpx;
//     // background-color: rgb(240, 240, 240);
// }

.card {
    margin-bottom: 30rpx;
    padding: 20rpx 5rpx 20rpx 5rpx;
    background-color: #fff;
    border-radius: 7rpx;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.main {
    display: flex;
    flex-direction: column;
    padding: 30rpx;

    .top {
        display: flex;
        align-items: center;

        .top-left {
            flex: 1;
            color: #999;
            font-size: 24rpx;

            view {
                margin-bottom: 10rpx;
            }

            .title {
                color: #000;
                font-weight: 500;
                font-size: 28rpx;
            }
        }

        .top-right {
            width: 170rpx;
            display: flex;
            justify-content: flex-end;
            .tag {
                width: 170rpx;
                height: 50rpx;
                padding: 5rpx 20rpx 5rpx 20rpx;
                border-radius: 40px 0px 0px 40px;
                margin-right: 10rpx;
                font-size: $font-size-sm;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateX(40rpx);
            }
            .tag-bk-1{
                background-color: rgb(41, 199, 126);
            }
            .tag-bk-2{
                background-color: rgb(157, 157, 157);
            }
            .tag-bk-3{
                background-color: rgb(244, 117, 117);
            }
        }
    }

    .bottom {
        margin-top: 30rpx;
        padding-top: 30rpx;
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #e4e0e0;
        text-align: center;
        .top-text{
            font-size: 24rpx;
            margin-bottom: 5rpx;
        }
        .bottom-text{
            font-size: 30rpx;
        }
        .theme{
            width: 450rpx;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden    ;
        }
    }
}