.section-1{
    position: relative;
    image{
        width: 100%;
        height: 400rpx;
    }
    .title{
        position: absolute;
        z-index: 999;
        color: #fff;
        left: 50%;
        top: 25%;
        transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
        -webkit-transform: translate(-50%, -50%);
    }
}

.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(0, -40%); /* 50%为自身尺寸的一半 */
    image{
        width: 150rpx;
        height: 150rpx;
        border-radius: 40px;
    }
    .name{
        font-size: 34rpx;
        font-weight: 600;
    }
    .area{
        font-size: 24rpx;
    }
}